# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build directory
/build

# venv file
/venv
/.spyproject
.spyproject

# photo files
/photo
/img
*.jpg
*.jpeg
*.png
*.mp4
*.webp
*.avi

# Igonre cache files
*.pyc
*.pyo
__pycache__/

# Ignoring some additional files and directories
/TrainedModel
/pre-Trained_model
/MyTrained_Models
/Datasets
/runs
*.pth
*.h5
*.keras
*.tfrecord

# Ignoring "image" folders
/src/img

# Ignoring node packages
package-lock.json
package.json
/node_modules