# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore build directory
/build

# venv file
/venv
/.spyproject
.spyproject

# photo files
/photo
/img

# Igonre cache files
*.pyc
*.pyo
__pycache__/

# Ignoring some additional files and directories
/TrainedModel
/pre-Trained_model
/MyTrained_Models
/src/feb04_FasterRCNN/ResnetTrainingOnKaggleMetal/NEU Metal Surface Defects Data

# Ignoring "image" folders
/src/img